<h1>Hello! Here is my EgoBlog! :)</h1>
    <% @posts.each do |post| %>
    <h2><%= link_to post.title, post %></h2>
    <p>
    <%= time_ago_in_words post.created_at %> ago
    </p>
    <p>
    <%= truncate post.body %>
    </p> 
<% end %>      
        
<br>

<%= link_to 'Create New Post', new_post_path %>
